<nav class="navbar is-warning is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item">
                <i class="fa-solid fa-house"></i>
            </a>
            <span id="burger" class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item is-size-5 has-text-weight-semibold" routerLink="login">
                    <span class="icon">
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </span>                    
                </a>                
            </div>
        </div>
    </div>
</nav>
