<section class="hero is-light is-fullheight is-fullheight-with-navbar">
  <div class="hero-body is-flex is-flex-direction-column is-justify-content-flex-start">
    <div class="container mt-4">

      <app-profile [isPlayer]="true" [isSearch]="false" [isAdding]="false"></app-profile>

      <article class="panel is-warning" style="height: 70vh;">
        <p class="panel-heading">Título del video</p>
        <div class="panel-block is-flex is-flex-diraction-row justifycontent-espace-between">
          <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores dolorum reprehenderit voluptatibus tempora at. Ab consequuntur ratione similique, nam ipsum quod. Similique omnis explicabo laudantium inventore voluptatibus laborum nam in.</div>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam facere quae, nihil, perferendis consectetur dolor voluptates, impedit molestias quo neque mollitia culpa sit vel ad dolores explicabo reiciendis minima rem!</div>
        </div>
      </article>

    </div>
  </div>
</section>