<section class="hero is-light is-fullheight is-fullheight-with-navbar">
  <div class="hero-body is-flex is-flex-direction-column is-justify-content-flex-start">
    <div class="container mt-4">

      <app-profile></app-profile>

      <article class="panel is-warning">
        <p class="panel-heading">Warning</p>

        <a class="panel-block is-active">
          <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
          bulma
        </a>
      </article>

    </div>
  </div>
</section>