<!-- Contenido principal -->
<section class="section mt-5" style="min-height: 100vh;">
  <div class="container">
    
    <app-profile></app-profile>
    
    <hr>

    <!-- Botón para insertar un nuevo video -->
    <div class="field">
      <div class="control">
        <button class="button is-warning" type="button" [disabled]="isEditing" (click)="toggle()">
          <span class="icon"> <i class="fa-solid fa-plus"></i> </span>
          <span> Nuevo </span>
        </button>
      </div>
    </div>

    <h3 class="title is-5 has-text-weight-semibold">Videos recientes</h3>
    <div class="columns is-multiline">
     
      <div *ngFor="let content of contents" class="column is-4">
        <app-content-card [playlists]="playlists" [content]="content" (deleteEvent)="update()" (updateEvent)="update()"></app-content-card>
      </div>
     
    </div>

  </div>
</section>
<app-content-modal [isActive]="isEditing" (closeEvent)="toggle()" (saveEvent)="update()"></app-content-modal>