<section class="hero is-light is-fullheight is-fullheight-with-navbar">
  <div class="hero-body is-flex is-flex-direction-column is-justify-content-flex-start">
    <div class="container mt-4">

      <app-profile (clickEvent)="toggle()" (searchEvent)="search($event)"></app-profile>

      <div class="columns is-multiline" cdkDropList (cdkDropListDropped)="drop($event)">

        <div *ngIf="isFound" class="column is-6">
          <div class="box">No se encontró ningun resultado...</div>
        </div>
        <div class="column is-3" *ngFor="let content of contents">
          <app-content-card [playlists]="playlists" [content]="content" (deleteEvent)="update()"
            (updateEvent)="update()" cdkDrag></app-content-card>
        </div>

      </div>

    </div>
  </div>
</section>

<app-content-modal [isActive]="isEditing" (closeEvent)="toggle()" (saveEvent)="update()"></app-content-modal>