<footer class="footer has-background-grey-lighter">
    <div class="content has-text-centered">

        <p><small>Prueba técnica desarrollador fullstack. Backend en C# .NET core 6.0, SQL Server y frontend con Angular 16.</small></p>

        <p>
            <small>
                <a href="https://github.com/mfquinonesc/videoplayer"
                    target="_blank">https://github.com/mfquinonesc/videoplayer</a>
            </small>
        </p>

        <p class="title mt-4">
            <span class="ml-4 mr-4"><i class="fa-brands fa-angular"></i></span>
            <span class="ml-4 mr-4"><i class="fa-brands fa-html5"></i></span>
            <span class="ml-4 mr-4"><i class="fa-brands fa-css3-alt"></i></span>
        </p>
        <p> Manuel Quiñones</p>
        <p> {{year}} </p>
    </div>
</footer>